@model IEnumerable<Student>

@{
    ViewBag.Title = "學生期中考成績";

    var topId = ViewBag.TopId;
}

<div class="jumbotron alert-info">
    <h2>自訂HTML Helper</h2>
    <P>在Razor Page中自訂HTML Helper, 好處有:1.可重複使用 2.簡化主程式碼</P>
</div>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Chinese)</th>
            <th>@Html.DisplayNameFor(m => m.English)</th>
            <th>@Html.DisplayNameFor(m => m.Math)</th>
            <th>@Html.DisplayNameFor(m => m.Total)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => m.Id)</td>
                <td>@Html.DisplayFor(x => m.Name)</td>

                <!--中文-->
                @DisplayScore(m.Chinese)

                <!--英文-->
                @DisplayScore(m.English)

                <!--數學-->
                @DisplayScore(m.Math)

                <!--計算總分-->
                @if (m.Id == ViewBag.topId)
                {
                    <!--總分最高者-->
                    <td class="top1">@Html.DisplayFor(x => m.Total)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(x => m.Total)</td>
                }
            </tr>
        }
    </tbody>
</table>
@helper DisplayScore(int score)
{
    if (score < 60)
    {
        <td class="poor">@score</td>
    }
    else if (score >= 95)
    {
        <td class="excellent">@score</td>
    }
    else
    {
        <td>@score</td>
    }
}


@section topCSS{
    <style type="text/css">
        /*設定Table欄位標題顏色*/
        th {
            color: white;
            background-color: black;
            text-align: center;
        }

        /*設定Table資料列Hover時的光棒效果*/
        .table > tbody > tr:hover {
            background-color: antiquewhite !important;
        }

        /*成績不及格之CSS*/
        .poor {
            color: white !important;
            background-color: red !important;
        }

        /*成績優秀之CSS*/
        .excellent {
            background-color: aqua !important;
        }

        /*總分第一名之CSS*/
        .top1 {
            background-color: yellow !important;
            border: 2px dashed black !important;
            font-weight: 900;
            font-size: 1.2em;
        }

            .top1::after {
                content: ' (總分排名第一)';
            }
    </style>
}

